.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #fafbf7;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 6.63rem;
  line-height: .8;
  letter-spacing: -0.04em;
}
.display-1 > .mbr-iconfont {
  font-size: 8.2875rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 5.63rem;
  line-height: 1.1em;
}
.display-2 > .mbr-iconfont {
  font-size: 7.0375rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 3.125rem;
  line-height: 1;
}
.display-5 > .mbr-iconfont {
  font-size: 3.90625rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
}
.display-7 > .mbr-iconfont {
  font-size: 2.8125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.304rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.641rem;
    font-size: calc( 2.9705rem + (6.63 - 2.9705) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.9705rem + (6.63 - 2.9705) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4.504rem;
    font-size: calc( 2.6205rem + (5.63 - 2.6205) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.6205rem + (5.63 - 2.6205) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.5rem;
    font-size: calc( 1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #d4a373 !important;
}
.bg-success {
  background-color: #3ada90 !important;
}
.bg-info {
  background-color: #21d0f3 !important;
}
.bg-warning {
  background-color: #ffc515 !important;
}
.bg-danger {
  background-color: #dc3847 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #d4a373 !important;
  border-color: #d4a373 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #e0bd9a !important;
  border-color: #e0bd9a !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e0bd9a !important;
  border-color: #e0bd9a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #caaed5 !important;
  border-color: #caaed5 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #e0d0e6 !important;
  border-color: #e0d0e6 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e0d0e6 !important;
  border-color: #e0d0e6 !important;
}
.btn-info,
.btn-info:active {
  background-color: #21d0f3 !important;
  border-color: #21d0f3 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #51daf6 !important;
  border-color: #51daf6 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #51daf6 !important;
  border-color: #51daf6 !important;
}
.btn-success,
.btn-success:active {
  background-color: #3ada90 !important;
  border-color: #3ada90 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #65e2a8 !important;
  border-color: #65e2a8 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #65e2a8 !important;
  border-color: #65e2a8 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffc515 !important;
  border-color: #ffc515 !important;
  color: #151000 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffd248 !important;
  border-color: #ffd248 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #151000 !important;
  background-color: #ffd248 !important;
  border-color: #ffd248 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #dc3847 !important;
  border-color: #dc3847 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e4636f !important;
  border-color: #e4636f !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e4636f !important;
  border-color: #e4636f !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #d4a373;
  color: #d4a373;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #b87738 !important;
  background-color: transparent !important;
  border-color: #b87738 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #d4a373 !important;
  border-color: #d4a373 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #caaed5;
  color: #caaed5;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a575b7 !important;
  background-color: transparent !important;
  border-color: #a575b7 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #caaed5 !important;
  border-color: #caaed5 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #21d0f3;
  color: #21d0f3;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0a97b4 !important;
  background-color: transparent !important;
  border-color: #0a97b4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #21d0f3 !important;
  border-color: #21d0f3 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3ada90;
  color: #3ada90;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1e9f64 !important;
  background-color: transparent !important;
  border-color: #1e9f64 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3ada90 !important;
  border-color: #3ada90 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffc515;
  color: #ffc515;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #bd8e00 !important;
  background-color: transparent !important;
  border-color: #bd8e00 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #151000 !important;
  background-color: #ffc515 !important;
  border-color: #ffc515 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #dc3847;
  color: #dc3847;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a11c28 !important;
  background-color: transparent !important;
  border-color: #a11c28 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #dc3847 !important;
  border-color: #dc3847 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #d4a373 !important;
}
.text-secondary {
  color: #caaed5 !important;
}
.text-success {
  color: #3ada90 !important;
}
.text-info {
  color: #21d0f3 !important;
}
.text-warning {
  color: #ffc515 !important;
}
.text-danger {
  color: #dc3847 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ac7035 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #9e6bb2 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1c925b !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #098ba5 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ae8300 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #941a25 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #d4a373;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #21d0f3;
}
.alert-warning {
  background-color: #ffc515;
}
.alert-danger {
  background-color: #dc3847;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #d4a373;
  border-color: #d4a373;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #d4a373;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e6faf1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e3f9fd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff8e1;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fbe5e7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.8125rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #d4a373 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.8125rem;
}
blockquote {
  border-color: #d4a373;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #d4a373;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #d4a373;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #d4a373;
  border-bottom-color: #d4a373;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #d4a373 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #caaed5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../../../data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23d4a373' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn,
.mbr-section-btn-main {
  width: 100%;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  padding: 8px 50px;
  border-radius: 5px !important;
  font-weight: 400;
  border-width: 1px !important;
}
@media (max-width: 768px) {
  .mbr-section-btn .btn,
  .mbr-section-btn-main .btn {
    padding: 10px 15px;
    width: 100%;
  }
}
.mbr-section-btn .btn-primary:hover,
.mbr-section-btn-main .btn-primary:hover,
.mbr-section-btn .btn-primary:focus,
.mbr-section-btn-main .btn-primary:focus {
  background-color: transparent !important;
  color: #d4a373 !important;
}
.mbr-section-btn .btn-secondary:hover,
.mbr-section-btn-main .btn-secondary:hover,
.mbr-section-btn .btn-secondary:focus,
.mbr-section-btn-main .btn-secondary:focus {
  background-color: transparent !important;
  color: #caaed5 !important;
}
.mbr-section-btn .btn-success:hover,
.mbr-section-btn-main .btn-success:hover,
.mbr-section-btn .btn-success:focus,
.mbr-section-btn-main .btn-success:focus {
  background-color: transparent !important;
  color: #3ada90 !important;
}
.mbr-section-btn .btn-info:hover,
.mbr-section-btn-main .btn-info:hover,
.mbr-section-btn .btn-info:focus,
.mbr-section-btn-main .btn-info:focus {
  background-color: transparent !important;
  color: #21d0f3 !important;
}
.mbr-section-btn .btn-warning:hover,
.mbr-section-btn-main .btn-warning:hover,
.mbr-section-btn .btn-warning:focus,
.mbr-section-btn-main .btn-warning:focus {
  background-color: transparent !important;
  color: #ffc515 !important;
}
.mbr-section-btn .btn-danger:hover,
.mbr-section-btn-main .btn-danger:hover,
.mbr-section-btn .btn-danger:focus,
.mbr-section-btn-main .btn-danger:focus {
  background-color: transparent !important;
  color: #dc3847 !important;
}
.mbr-section-btn .btn-black:hover,
.mbr-section-btn-main .btn-black:hover,
.mbr-section-btn .btn-black:focus,
.mbr-section-btn-main .btn-black:focus {
  background-color: transparent !important;
  color: #000000 !important;
}
.mbr-section-btn .btn-white:hover,
.mbr-section-btn-main .btn-white:hover,
.mbr-section-btn .btn-white:focus,
.mbr-section-btn-main .btn-white:focus {
  background-color: transparent !important;
  color: #ffffff !important;
}
.mbr-section-btn .btn-primary-outline:hover,
.mbr-section-btn-main .btn-primary-outline:hover,
.mbr-section-btn .btn-primary-outline:focus,
.mbr-section-btn-main .btn-primary-outline:focus {
  background-color: #d4a373 !important;
  color: #21d0f3 !important;
}
.mbr-section-btn .btn-secondary-outline:hover,
.mbr-section-btn-main .btn-secondary-outline:hover,
.mbr-section-btn .btn-secondary-outline:focus,
.mbr-section-btn-main .btn-secondary-outline:focus {
  background-color: #caaed5 !important;
  color: #d4a373 !important;
}
.mbr-section-btn .btn-success-outline:hover,
.mbr-section-btn-main .btn-success-outline:hover,
.mbr-section-btn .btn-success-outline:focus,
.mbr-section-btn-main .btn-success-outline:focus {
  background-color: #3ada90 !important;
  color: #d4a373 !important;
}
.mbr-section-btn .btn-info-outline:hover,
.mbr-section-btn-main .btn-info-outline:hover,
.mbr-section-btn .btn-info-outline:focus,
.mbr-section-btn-main .btn-info-outline:focus {
  background-color: #21d0f3 !important;
  color: #d4a373 !important;
}
.mbr-section-btn .btn-warning-outline:hover,
.mbr-section-btn-main .btn-warning-outline:hover,
.mbr-section-btn .btn-warning-outline:focus,
.mbr-section-btn-main .btn-warning-outline:focus {
  background-color: #ffc515 !important;
  color: #d4a373 !important;
}
.mbr-section-btn .btn-danger-outline:hover,
.mbr-section-btn-main .btn-danger-outline:hover,
.mbr-section-btn .btn-danger-outline:focus,
.mbr-section-btn-main .btn-danger-outline:focus {
  background-color: #dc3847 !important;
  color: #d4a373 !important;
}
.mbr-section-btn .btn-black-outline:hover,
.mbr-section-btn-main .btn-black-outline:hover,
.mbr-section-btn .btn-black-outline:focus,
.mbr-section-btn-main .btn-black-outline:focus {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.mbr-section-btn .btn-white-outline:hover,
.mbr-section-btn-main .btn-white-outline:hover,
.mbr-section-btn .btn-white-outline:focus,
.mbr-section-btn-main .btn-white-outline:focus {
  background-color: #ffffff !important;
  color: #000000 !important;
}
img {
  border-radius: 20px !important;
}
.cid-uta3BpiKyR {
  background-color: transparent;
}
.cid-uta3BpiKyR .navbar-dropdown {
  background-color: #fafbf7 !important;
  padding: 0;
}
.cid-uta3BpiKyR .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #fafbf7 !important;
  background: #fafbf7;
}
.cid-uta3BpiKyR .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uta3BpiKyR .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uta3BpiKyR .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-uta3BpiKyR .menu_box .navbar.opened,
  .cid-uta3BpiKyR .menu_box .navbar-collapse {
    background-color: #fafbf7 !important;
    transition: all 0s ease 0s;
  }
}
.cid-uta3BpiKyR .navbar-dropdown {
  position: relative !important;
}
.cid-uta3BpiKyR .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-uta3BpiKyR .btn:hover {
  box-shadow: none;
}
.cid-uta3BpiKyR .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-uta3BpiKyR .nav-item {
    margin: 4px 24px;
  }
}
@media (max-width: 991px) {
  .cid-uta3BpiKyR .nav-item {
    margin: 0 !important;
  }
}
.cid-uta3BpiKyR .nav-item .nav-link {
  transition: all 0.5s ease-out;
  border-radius: 0.5rem !important;
  position: relative;
  opacity: 1;
}
.cid-uta3BpiKyR .nav-item .nav-link:hover,
.cid-uta3BpiKyR .nav-item .nav-link:focus {
  color: #000000 !important;
}
.cid-uta3BpiKyR .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-uta3BpiKyR .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-uta3BpiKyR .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-uta3BpiKyR .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uta3BpiKyR .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 0.5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-uta3BpiKyR .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-uta3BpiKyR .offcanvas_box {
    display: none;
  }
}
.cid-uta3BpiKyR .dropdown-item {
  border: none;
  font-weight: 300 !important;
  transition: all 0.3s ease-in-out;
}
.cid-uta3BpiKyR .dropdown-item:hover,
.cid-uta3BpiKyR .dropdown-item:focus {
  color: #000000 !important;
}
.cid-uta3BpiKyR .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-uta3BpiKyR .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: -4px;
}
.cid-uta3BpiKyR .container {
  display: flex;
  margin: auto;
}
.cid-uta3BpiKyR .iconfont-wrapper {
  color: #000000;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-uta3BpiKyR .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-uta3BpiKyR .iconfont-wrapper:hover {
  opacity: 0.5;
}
.cid-uta3BpiKyR .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-uta3BpiKyR .navbar-nav {
    margin: 0;
  }
}
.cid-uta3BpiKyR .dropdown-menu,
.cid-uta3BpiKyR .navbar.opened {
  background-color: false !important;
}
.cid-uta3BpiKyR .nav-item:focus,
.cid-uta3BpiKyR .nav-link:focus {
  outline: none;
}
.cid-uta3BpiKyR .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uta3BpiKyR .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uta3BpiKyR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uta3BpiKyR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uta3BpiKyR .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uta3BpiKyR .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uta3BpiKyR .navbar {
  min-height: 70px;
  padding: 10px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-uta3BpiKyR .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-uta3BpiKyR .navbar.opened {
  transition: all 0.3s;
}
.cid-uta3BpiKyR .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-uta3BpiKyR .navbar .navbar-logo img {
  max-width: 50px;
  min-height: 50px;
  object-fit: contain;
  border-radius: 5px !important;
}
.cid-uta3BpiKyR .navbar .navbar-collapse {
  justify-content: center;
  justify-content: flex-end;
  z-index: 1;
}
.cid-uta3BpiKyR .navbar.collapsed {
  justify-content: center;
}
.cid-uta3BpiKyR .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uta3BpiKyR .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uta3BpiKyR .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uta3BpiKyR .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uta3BpiKyR .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uta3BpiKyR .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-uta3BpiKyR .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-uta3BpiKyR .navbar .nav-item {
    padding: 0.5rem 0;
  }
  .cid-uta3BpiKyR .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 16px;
    width: 100%;
  }
  .cid-uta3BpiKyR .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uta3BpiKyR .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uta3BpiKyR .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-uta3BpiKyR .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uta3BpiKyR .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-uta3BpiKyR .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uta3BpiKyR .navbar ul.navbar-nav {
    overflow: hidden;
    margin: 0;
  }
  .cid-uta3BpiKyR .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-uta3BpiKyR .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-uta3BpiKyR .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-uta3BpiKyR .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uta3BpiKyR .navbar .icons-menu {
    padding: 0;
  }
}
.cid-uta3BpiKyR .navbar.navbar-short {
  min-height: 60px;
}
.cid-uta3BpiKyR .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uta3BpiKyR .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uta3BpiKyR .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uta3BpiKyR .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 700;
}
.cid-uta3BpiKyR .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uta3BpiKyR .dropdown-item.active,
.cid-uta3BpiKyR .dropdown-item:active {
  background-color: transparent;
}
.cid-uta3BpiKyR .navbar-expand-lg .navbar-nav .nav-link {
  margin: 8px 12px !important;
}
@media (max-width: 991px) {
  .cid-uta3BpiKyR .navbar-expand-lg .navbar-nav .nav-link {
    margin: 8px 0 !important;
  }
}
.cid-uta3BpiKyR .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uta3BpiKyR .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uta3BpiKyR .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uta3BpiKyR ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-uta3BpiKyR .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uta3BpiKyR button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #fafbf7;
  background: #fafbf7;
}
.cid-uta3BpiKyR button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uta3BpiKyR button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uta3BpiKyR button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uta3BpiKyR button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uta3BpiKyR button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uta3BpiKyR nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uta3BpiKyR nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uta3BpiKyR nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uta3BpiKyR nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uta3BpiKyR a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-uta3BpiKyR .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uta3BpiKyR .navbar {
    height: 70px;
  }
  .cid-uta3BpiKyR .navbar.opened {
    height: auto;
  }
  .cid-uta3BpiKyR .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uta3BpiKyR .navbar-dropdown .navbar-logo {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .cid-uta3BpiKyR .container-fluid {
    padding-left: 56px;
    padding-right: 56px;
  }
}
.cid-uta3BpiKyR .mbr-section-btn-main {
  width: fit-content;
}
.cid-uta3BpiKyR .mbr-section-btn-main .btn {
  margin: 8px;
  min-width: 235px;
}
.cid-uta3BpiKyR .navbar-caption:hover {
  color: #d4a373;
}
@media (min-width: 992px) {
  .cid-uta3BpiKyR .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-uta3BpiKyR .text_widget {
  margin-bottom: 32px;
}
.cid-uta3BpiKyR .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-uta3BpiKyR .text_widget a:hover,
.cid-uta3BpiKyR .text_widget a:focus {
  opacity: 0.8;
}
.cid-uta3BpiKyR .mbr-section-subtitle {
  color: #30262b;
  text-align: center;
}
.cid-uta3BpiKyR .navbar-caption {
  color: #000000;
}
.cid-uta3BpiKyR .mbr-text {
  color: #30262b;
  text-align: center;
}
.cid-uta3BpiKyR .mbr-section-subtitle,
.cid-uta3BpiKyR .text_widget,
.cid-uta3BpiKyR .mbr-section-btn {
  text-align: center;
}
.cid-uta3BpiKyR a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-uta3BpiKyR .nav-link,
.cid-uta3BpiKyR .dropdown-item {
  color: #000000;
}
.cid-uta3BpiKyR .nav-link,
.cid-uta3BpiKyR .dropdown-item {
  color: #000000;
}
.cid-uta3Bpm8wM {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-uta3Bpm8wM .mbr-fallback-image.disabled {
  display: none;
}
.cid-uta3Bpm8wM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uta3Bpm8wM .container-fluid {
  padding: 0 56px;
}
@media (max-width: 992px) {
  .cid-uta3Bpm8wM .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-uta3Bpm8wM .container {
    padding: 0 26px;
  }
}
.cid-uta3Bpm8wM .row {
  justify-content: center;
}
.cid-uta3Bpm8wM .content-wrapper {
  display: flex;
  align-items: center;
  padding: 200px 100px 200px 60px;
  background-color: #ccd5ae;
  border-radius: 20px;
}
@media (max-width: 1440px) {
  .cid-uta3Bpm8wM .content-wrapper {
    padding: 100px 60px;
  }
}
@media (max-width: 992px) {
  .cid-uta3Bpm8wM .content-wrapper {
    padding: 100px 20px;
    display: block;
  }
}
.cid-uta3Bpm8wM .content-wrapper .title-wrapper {
  width: 50%;
  padding-right: 45px;
}
@media (max-width: 992px) {
  .cid-uta3Bpm8wM .content-wrapper .title-wrapper {
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
}
.cid-uta3Bpm8wM .content-wrapper .title-wrapper .mbr-section-title {
  margin-bottom: 30px;
}
.cid-uta3Bpm8wM .content-wrapper .title-wrapper .mbr-desc {
  margin-bottom: 0;
}
.cid-uta3Bpm8wM .content-wrapper .text-wrapper {
  width: 50%;
}
@media (max-width: 992px) {
  .cid-uta3Bpm8wM .content-wrapper .text-wrapper {
    width: 100%;
  }
}
.cid-uta3Bpm8wM .content-wrapper .text-wrapper .mbr-section-subtitle {
  margin-bottom: 20px;
}
.cid-uta3Bpm8wM .content-wrapper .text-wrapper .mbr-text {
  margin-bottom: 20px;
}
.cid-uta3Bpm8wM .content-wrapper .text-wrapper .link-wrapper:hover .mbr-link,
.cid-uta3Bpm8wM .content-wrapper .text-wrapper .link-wrapper:focus .mbr-link {
  color: #d4a373;
}
.cid-uta3Bpm8wM .content-wrapper .text-wrapper .link-wrapper .mbr-link {
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}
.cid-uta3Bpm8wM .mbr-section-title {
  color: #000000;
}
.cid-uta3Bpm8wM .mbr-section-subtitle {
  color: #000000;
}
.cid-uta3Bpm8wM .mbr-desc {
  color: #000000;
}
.cid-uta3Bpm8wM .mbr-text {
  color: #000000;
}
.cid-uta3Bpm8wM .mbr-link {
  color: #000000;
}
.cid-uta3BpnfrW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-uta3BpnfrW .mbr-fallback-image.disabled {
  display: none;
}
.cid-uta3BpnfrW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uta3BpnfrW .container-fluid {
  padding: 0 56px;
}
@media (max-width: 992px) {
  .cid-uta3BpnfrW .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-uta3BpnfrW .container {
    padding: 0 26px;
  }
}
.cid-uta3BpnfrW .row {
  justify-content: center;
}
.cid-uta3BpnfrW .items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
}
@media (max-width: 992px) {
  .cid-uta3BpnfrW .items-wrapper {
    display: block;
  }
}
@media (max-width: 992px) {
  .cid-uta3BpnfrW .items-wrapper .item {
    margin-bottom: 40px;
  }
}
.cid-uta3BpnfrW .items-wrapper .item:focus .item-wrapper .item-img img,
.cid-uta3BpnfrW .items-wrapper .item:hover .item-wrapper .item-img img {
  transform: scale(1);
}
.cid-uta3BpnfrW .items-wrapper .item .item-wrapper {
  display: flex;
}
@media (max-width: 992px) {
  .cid-uta3BpnfrW .items-wrapper .item .item-wrapper {
    display: block;
  }
}
.cid-uta3BpnfrW .items-wrapper .item .item-wrapper .item-content {
  width: 50%;
  padding-right: 20px;
}
@media (max-width: 992px) {
  .cid-uta3BpnfrW .items-wrapper .item .item-wrapper .item-content {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0;
  }
}
.cid-uta3BpnfrW .items-wrapper .item .item-wrapper .item-content .item-title {
  margin-bottom: 5px;
}
.cid-uta3BpnfrW .items-wrapper .item .item-wrapper .item-content .item-desc {
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
}
.cid-uta3BpnfrW .items-wrapper .item .item-wrapper .item-img {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .cid-uta3BpnfrW .items-wrapper .item .item-wrapper .item-img {
    width: 100%;
  }
}
.cid-uta3BpnfrW .items-wrapper .item .item-wrapper .item-img img {
  height: 340px;
  width: 100%;
  object-fit: cover;
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}
.cid-uta3BpnfrW .mbr-section-btn {
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-uta3BpnfrW .mbr-section-btn {
    margin-top: 0;
  }
}
.cid-uta3BpnfrW .item-title {
  color: #000000;
}
.cid-uta3BpnfrW .item-desc {
  color: #000000;
}
.cid-uta3BpnfrW .item-title,
.cid-uta3BpnfrW .mbr-section-btn {
  color: #000000;
}
.cid-uta3BpoNH2 {
  background-color: transparent;
}
.cid-uta3BpoNH2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uta3BpoNH2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uta3BpoNH2 .container-fluid {
  padding: 0 56px;
}
@media (max-width: 992px) {
  .cid-uta3BpoNH2 .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-uta3BpoNH2 .container {
    padding: 0 26px;
  }
}
.cid-uta3BpoNH2 .row {
  justify-content: center;
}
.cid-uta3BpoNH2 .title-wrapper {
  margin-bottom: 40px;
}
.cid-uta3BpoNH2 .title-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
.cid-uta3BpoNH2 .title-wrapper .mbr-section-subtitle {
  margin-bottom: 0;
}
.cid-uta3BpoNH2 .items-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 992px) {
  .cid-uta3BpoNH2 .items-wrapper {
    display: block;
    padding: 0;
  }
}
@media (max-width: 992px) {
  .cid-uta3BpoNH2 .items-wrapper .item {
    margin-bottom: 20px;
  }
}
.cid-uta3BpoNH2 .items-wrapper .item:focus .item-wrapper .item-img::before,
.cid-uta3BpoNH2 .items-wrapper .item:hover .item-wrapper .item-img::before {
  opacity: 0.2;
}
.cid-uta3BpoNH2 .items-wrapper .item .item-wrapper .item-img {
  position: relative;
}
.cid-uta3BpoNH2 .items-wrapper .item .item-wrapper .item-img img {
  height: 470px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uta3BpoNH2 .items-wrapper .item .item-wrapper .item-img img {
    height: 350px;
  }
}
.cid-uta3BpoNH2 .items-wrapper .item .item-wrapper .item-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  background-color: #ccd5ae;
}
.cid-uta3BpoNH2 .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uta3BpoNH2 .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-uta3BpoNH2 .mbr-section-title,
.cid-uta3BpoNH2 .mbr-section-btn {
  color: #000000;
}
.cid-uta3Bpph5K {
  overflow: hidden;
  background-color: transparent;
}
.cid-uta3Bpph5K .mbr-fallback-image.disabled {
  display: none;
}
.cid-uta3Bpph5K .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uta3Bpph5K .container-fluid {
  padding: 0 56px;
}
@media (max-width: 992px) {
  .cid-uta3Bpph5K .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-uta3Bpph5K .container {
    padding: 0 26px;
  }
}
.cid-uta3Bpph5K .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-uta3Bpph5K .item {
    margin-bottom: 20px;
  }
  .cid-uta3Bpph5K .item:last-child {
    margin-bottom: 0;
  }
}
.cid-uta3Bpph5K .item:nth-child(2n) .item-wrapper .item-img img {
  transform: rotate(0);
}
.cid-uta3Bpph5K .item:nth-child(3n) .item-wrapper .item-img img {
  transform: rotate(15deg);
}
@media (max-width: 992px) {
  .cid-uta3Bpph5K .item:nth-child(3n) .item-wrapper .item-img img {
    transform: rotate(0);
  }
}
.cid-uta3Bpph5K .item .item-wrapper .item-img {
  padding: 0 35px;
}
@media (max-width: 992px) {
  .cid-uta3Bpph5K .item .item-wrapper .item-img {
    padding: 0;
  }
}
.cid-uta3Bpph5K .item .item-wrapper .item-img img {
  transform: rotate(-15deg);
  height: 740px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uta3Bpph5K .item .item-wrapper .item-img img {
    transform: rotate(0);
    height: 350px;
  }
}
.cid-uta3Bpq7KZ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: transparent;
}
.cid-uta3Bpq7KZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-uta3Bpq7KZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uta3Bpq7KZ .container-fluid {
  padding: 0 56px;
}
@media (max-width: 992px) {
  .cid-uta3Bpq7KZ .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-uta3Bpq7KZ .container {
    padding: 0 26px;
  }
}
.cid-uta3Bpq7KZ .image-wrapper {
  padding: 0 40px;
}
@media (max-width: 992px) {
  .cid-uta3Bpq7KZ .image-wrapper {
    padding: 0;
    margin-bottom: 40px;
  }
}
.cid-uta3Bpq7KZ .image-wrapper img {
  height: 800px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uta3Bpq7KZ .image-wrapper img {
    height: 400px;
  }
}
.cid-uta3Bpq7KZ .image-wrap {
  height: 900px;
  background-color: #ccd5ae;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1440px) {
  .cid-uta3Bpq7KZ .image-wrap {
    height: 100%;
  }
}
@media (max-width: 992px) {
  .cid-uta3Bpq7KZ .image-wrap {
    height: 400px;
  }
}
.cid-uta3Bpq7KZ .image-wrap img {
  width: 390px;
  height: 280px;
  object-fit: cover;
  box-shadow: 25px 25px 20px #000000;
}
@media (max-width: 1440px) {
  .cid-uta3Bpq7KZ .image-wrap img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .cid-uta3Bpq7KZ .image-wrap img {
    width: 200px;
    height: 150px;
    box-shadow: 10px 10px 10px #000000;
  }
}
.cid-uta3BpEIj2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-uta3BpEIj2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uta3BpEIj2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uta3BpEIj2 .container-fluid {
  padding: 0 56px;
}
@media (max-width: 992px) {
  .cid-uta3BpEIj2 .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-uta3BpEIj2 .container {
    padding: 0 26px;
  }
}
.cid-uta3BpEIj2 .row {
  justify-content: center;
}
.cid-uta3BpEIj2 .google-map iframe {
  border-radius: 20px !important;
  height: 700px;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-uta3BpEIj2 .google-map iframe {
    height: 400px;
  }
}
.cid-uta3BpJHWc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ccd5ae;
}
.cid-uta3BpJHWc .mbr-fallback-image.disabled {
  display: none;
}
.cid-uta3BpJHWc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uta3BpJHWc .container-fluid {
  padding: 0 56px;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .container {
    padding: 0 26px;
  }
}
.cid-uta3BpJHWc .row {
  justify-content: center;
}
.cid-uta3BpJHWc .title-wrapper {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .title-wrapper {
    margin-bottom: 40px;
  }
}
.cid-uta3BpJHWc .title-wrapper .logo-wrapper {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .title-wrapper .logo-wrapper {
    margin-bottom: 40px;
  }
}
.cid-uta3BpJHWc .title-wrapper .logo-wrapper img {
  height: 90px;
  width: 90px;
  display: inline-flex;
  object-fit: contain;
  border-radius: 0 !important;
}
.cid-uta3BpJHWc .title-wrapper .mbr-section-title {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-uta3BpJHWc .title-wrapper .text-wrapper .mbr-text {
  display: inline-flex;
  width: 70%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .title-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-uta3BpJHWc .content-wrapper {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .content-wrapper {
    margin-bottom: 40px;
  }
}
.cid-uta3BpJHWc .content-wrapper .nav-wrapper {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .content-wrapper .nav-wrapper {
    margin-bottom: 40px;
    text-align: left;
  }
}
.cid-uta3BpJHWc .content-wrapper .nav-wrapper .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
}
.cid-uta3BpJHWc .content-wrapper .nav-wrapper .list .item-wrap {
  margin: 0 50px 16px 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .content-wrapper .nav-wrapper .list .item-wrap {
    margin: 0 25px 16px 0;
  }
}
.cid-uta3BpJHWc .content-wrapper .nav-wrapper .list .item-wrap:hover,
.cid-uta3BpJHWc .content-wrapper .nav-wrapper .list .item-wrap:focus {
  color: #dcd4cb;
}
.cid-uta3BpJHWc .content-wrapper .nav-wrapper .list .item-wrap:last-child {
  margin: 0 0 16px 0;
}
.cid-uta3BpJHWc .content-wrapper .contacts-wrapper {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .content-wrapper .contacts-wrapper {
    margin-bottom: 40px;
  }
}
.cid-uta3BpJHWc .content-wrapper .contacts-wrapper .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .content-wrapper .contacts-wrapper .list {
    text-align: left;
  }
}
.cid-uta3BpJHWc .content-wrapper .contacts-wrapper .list .item-wrap {
  margin-bottom: 0;
  font-family: "Instrument Serif", sans-serif;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  letter-spacing: -0.02em;
}
.cid-uta3BpJHWc .content-wrapper .contacts-wrapper .list .item-wrap:hover,
.cid-uta3BpJHWc .content-wrapper .contacts-wrapper .list .item-wrap:focus {
  color: #54595f;
}
.cid-uta3BpJHWc .content-wrapper .contacts-wrapper .list .item-wrap:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uta3BpJHWc .content-wrapper .social-wrapper {
    text-align: left;
  }
}
.cid-uta3BpJHWc .content-wrapper .social-wrapper .social-wrap {
  display: inline-flex;
  flex-wrap: wrap;
}
.cid-uta3BpJHWc .content-wrapper .social-wrapper .social-wrap .soc-item:last-child a .mbr-iconfont {
  margin-right: 0;
}
.cid-uta3BpJHWc .content-wrapper .social-wrapper .social-wrap .soc-item a {
  display: block;
}
.cid-uta3BpJHWc .content-wrapper .social-wrapper .social-wrap .soc-item a:hover .mbr-iconfont,
.cid-uta3BpJHWc .content-wrapper .social-wrapper .social-wrap .soc-item a:hover .mbr-iconfont {
  color: #54595f;
}
.cid-uta3BpJHWc .content-wrapper .social-wrapper .social-wrap .soc-item a .mbr-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 40px;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
}
.cid-uta3BpJHWc .mbr-copy {
  margin-bottom: 0;
  color: #000000;
  text-align: center;
}
.cid-uta3BpJHWc .mbr-section-title {
  color: #ffffff;
}
.cid-uta3BpJHWc .mbr-text {
  color: #ffffff;
}
.cid-uta3BpJHWc .list {
  color: #ffffff;
}
.cid-uta3BpJHWc .list,
.cid-uta3BpJHWc .nav-wrapper,
.cid-uta3BpJHWc .social-wrapper {
  text-align: right;
}
